.btn {
    background-color: $mainBlue;
    color: #FFF;
    text-decoration: none; /* rmoves the underline */
    padding: .75rem 1.2rem; /* .75rem top-down and 1.2rem left-right */
    display: inline-block;

    &--orange {
        background-color: $mainOrange;
    }

    &--large {
        font-size: 1rem;
        padding: 1.1rem 1.9rem;

        @mixin atSmall {
            font-size: 1.25rem;
        }
    }
}