.generic-content-container {
    p {
        font-weight: 300;
        line-height: 1.65; /* space between lines */
        margin: 0 0 1.8rem 0 ; /* top / right / bottom / left */

        @mixin atSmall {
            font-size: 1.125rem;
        }
    }

    p a { /* any links that live in a paragraph */
        font-weight: 700;
    }
}