.large-hero {
    border-bottom: 10px solid $mainBlue;
    position: relative;

    &__image {
        /* by default images are 'inline level elements' like text so it creates a bit of space at the botttom */
        display: block;
    }

    &__text-content {
        /* **** POSITIONING THE TEXT **** */
        /* center the text horizontally and vertically accross the image */
        /* we will not use the CSS background image functionnality because we want the image */
        /* to be an actual image element because we want the image later on to be responsive */
        position: absolute;
        top: 50%; /* text starts at the vertical center of the image */
        transform: translateY(-50%); /* we move up the text by 50% of its vertical size so that it is centered */
        left: 0;
        width: 100%;
        text-align: center;
        padding-top: 88px; /* to compensate for the height on the image taken by the navigation menu */

        /* when screen larger than 800px */
        @mixin atMedium {
            padding-top: 60px; /* to compensate for the height on the image taken by the navigation menu */
        }
    }

    &__title {
        /* **** STYILING THE <h1> tag **** */
        font-weight: 300;
        color: $mainBlue;
        margin: 0;
        font-size: 2.4rem;

        @mixin atSmall {
            font-size: 4.8rem;
        }
    }

    &__subtitle {
        /* **** STYILING THE <h2> tag **** */
        font-weight: 300;
        color: $mainBlue;
        font-size: 1.5rem;
        margin: 0;

        @mixin atSmall {
            font-size: 2.9rem;
        }
    }

    &__description {
        /* **** STYILING THE <p> tag **** */
        color: #FFF;
        font-size: 1.1rem;
        font-weight: 100;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
        max-width: 30rem;
        margin-left: auto;
        margin-right: auto;

        @mixin atSmall {
            font-size: 1.875rem;
        }
    }
}