.row {

    /* smaller than 800px screen devices */
    @mixin clearfix; /* clear float of children elements */

    &--t-padding {
        padding-top: 80px;
    }

    &--gutters {
        margin-right: -65px; /* right margin of the main <div> is negative */
    }

    &--gutters-large {
        margin-right: -100px;
    }

    &--gutters-small {
        margin-right: -45px;
    }

    &--gutters > div {
        padding-right: 65px; /* right margin of the righest sub<div> element will be zero: -65 + 65 px */
    }

    &--gutters-large > div {
        padding-right: 100px;
    }

    &--gutters-small > div {
        padding-right: 45px;
    }

    &__b-margin-until-medium {
        margin-bottom: 1rem;
    }

    /* larger than 800px screen devices */
    @mixin atMedium {
        &__b-margin-until-medium {
            margin-bottom: 0;
        }

        &__medium-4 {
            float: left;
            width: 33.33%;
        }

        &__medium-4--larger {
            width: 37%;
        } 
    
        &__medium-6 {
            float: left;
            width: 50%;
        }

        &__medium-8 {
            float: left;
            width: 66.66%;
        }

        &__medium-8--smaller {
            width: 63%;
        }
    } 

    /* larger than 1010px screen devices */
    @mixin atLarge {
        &__b-margin-until-large {
            margin-bottom: 0;
        }

        &__large-4 {
            float: left;
            width: 33.33%;
        }

        &__large-4--larger {
            width: 37%;
        } 
    
        &__large-6 {
            float: left;
            width: 50%;
        }

        &__large-8 {
            float: left;
            width: 66.66%;
        }

        &__large-8--smaller {
            width: 63%;
        }
    } 

    /* make the testimonial text boxes of the same height */
    &--equal-height-at-medium {
        /* larger than 800px screen devices */
        @mixin atMedium {
            display: flex;
        }

        & > div {
            float: none;
            display: flex;
        }
    }

    /* make the testimonial text boxes of the same height */
    &--equal-height-at-large {
        /* larger than 1010px screen devices */
        @mixin atLarge {
            display: flex;
        }

        & > div {
            float: none;
            display: flex;
        }
    }
}