.site-header {
    /* screen smaller than 800px */
    position: absolute; /* we want the navigation menu to overflow the large-hero image / section */
    z-index: 2; /* will put the navigation menu on top of the large-hero image / section */
    width: 100%; /* navigation menu to fill the entire width of the screen */
    padding: 10px 0;
    transition: background-color .3s ease-out; /* when element background changes, we want to */
    /* gradually transition to the new value over the course of a certain period of time: 0.3 seconds  */

    &--is-expanded {
        background-color: rgba($mainBlue, .55);
    }

    /* screen larger than 800px */
    @mixin atMedium {
        background-color: rgba($mainBlue, .3); /* background with transparent (.3 = 30%) blue */
    }

    &__btn-container {
        /* default behaviour */

        /* when screen larger than 800px */
        @mixin atMedium {
            float: right; /* move 'Get in Touch' button to the right */
        }
    }

    &__logo {
        /* default behaviour */
        position: absolute; /* logo is now out of the navigation bar flow */
        top: 0;
        background-color: $mainBlue;
        padding: 25px 36px;
        left: 50%;
        transform: translateX(-50%) scale(0.8); /* scale the image at 0.8 = 80% of its original size */
        transform-origin: 50% 0; /* to keep the 80% image centered horizontally and to the top of the screen vertically */

        /* when screen larger than 800px */ 
        @mixin atMedium {
            left: auto;
            transform: translateX(0);
        }
    }

    &__logo__graphic {
        text-indent: -9999px; /* we want to hide the text below logo image (text has been created for SEO purposes) */
    }

    &__menu-icon {
        /* default behaviour */
        /* display an icon where to click for opening the menu on smaller screens */
        width: 20px;
        height: 19px;
        position: absolute;
        z-index: 10; /* put icon button on the very top of the page */
        top: 10px;
        right: 10px;

        &__top { /* drawing top bar of the mobile device menu icon */
            position: absolute;
            top: 0;  /* position inside menu-icon */
            left: 0; /* position inside menu-icon */
            width: 20px;
            height: 3px;
            background-color: #FFF;
            transform-origin: 0 0; /* change the default center of the top bar (50% 50%) into the top-left corner */
            transition: transform .3s ease-out; /* gradually change the top bar into a 'X' bar */
        }

        &__middle { /* drawing top bar of the mobile device menu icon */
            position: absolute;
            top: 8px;  /* position inside menu-icon */
            left: 0; /* position inside menu-icon */
            width: 20px;
            height: 3px;
            background-color: #FFF;
            transform-origin: 0 50%; /* horizontal = 0 - vertical = perfect center = 50% */
            transition: all .3s ease-out; /* gradually change all properties of the middle bar */
        }

        &__bottom { /* drawing top bar of the mobile device menu icon */
            position: absolute;
            bottom: 0px;  /* position inside menu-icon */
            left: 0; /* position inside menu-icon */
            width: 20px;
            height: 3px;
            background-color: #FFF;
            transform-origin: 0 100%; /* change the default center of the bottom bar (50% 50%) into the bottom-left corner */
            transition: transform .3s ease-out; /* gradually change the bottom bar into a 'X' bar */
        }

        /* when screen larger than 800px */
        @mixin atMedium {
            display: none;
        }
    }

    /* changing the horizontal bars of the 'hamburger' menu on mobile devices into a 'X' */
    &__menu-icon--close-x {
        .site-header__menu-icon__top {
            transform: rotate(45deg) scaleX(1.25); /* rotate the top bar 45deg to the right and increase its width by 25% */
        }

        .site-header__menu-icon__middle {
            opacity: 0;
            transform: scaleX(0); /* reduce the width of the middle bar to 0px */
        }

        .site-header__menu-icon__bottom {
            transform: rotate(-45deg) scaleX(1.25) translateY(1px); /* rotate the top bar 45deg to the right and increase its width by 25% */
        }
    }

    &__menu-content {
        /* default behaviour */
        opacity: 0; /* menu bar is hidden with opacitiy: 0; instead of display: none; */
        transform: scale(1.2); /* zoom-in effect: increase the menu content +20% */
        transition: all .3s ease-out; /* we gradually fade in the menu when user will click on the icon */
        position: relative; /* to be able to use z-index */
        z-index: -10; /* menu for mobile device put in the back for preventing to accidentaly click on it when hidden */
        padding-top: 90px;
        text-align: center;

        /* when screen larger than 800px */
        @mixin atMedium {
            opacity: 1; /* menu bar is visible */
            z-index: 1;
            padding-top: 0;
            transform: scale(1); /* zoom-in effect is only for mobile devices */
        }

        &--is-visible {
            opacity: 1; /* we gradually fade the menu for mobile devices to an opacity of 1 instead of simply using display: block; */
            z-index: 1; /* put menu on the top */
            transform: scale(1); /* content back to its natural size */
        }
    }
}