.testimonial {
    /* smaller than 1010px screen devices */
    background-color: rgba(255, 255, 255, .8); /* transaprency: .8 */
    padding: 0 18px 1px 18px; /* top right bottom left */
    margin-bottom: 98px;

    /* larger than 1010px screen devices */
    @mixin atLarge {
        padding: 0 1.8125rem 1px 1.8125rem; /* top right bottom left */
        margin-bottom: 0;
    }

    &--last {
        margin-bottom: 0; /* take out bottom margin of last testimonial */
    }

    &__photo {
        border-radius: 80px; /* radius of half of the image width / height will create a circle */
        border: 6px solid rgba(255, 255, 255, .8);
        overflow: hidden; /* otherwise image will display out of the border and we won't see any circle */
        width: 160px; /* true width of the image file */
        height: 160px; /* true height of the image file */
        margin: 0 auto -80px auto; /* center the image: top, right, bottom, left */
                                 /* the bottom margin of -80px is to move up the text below the image */
        /* move the image up out of its container <div> */
        position: relative;
        top: -80px;
    }

    &__title {
        color: $mainBlue;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
        margin: 0;
    }

    &__subtitle {
        color: $mainOrange;
        text-align: center;
        font-weight: 400;
        font-size: 0.9375rem;
        margin: .25rem 0 1rem 0;
    }
}